<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.aber.dcs.wim2.studentbudgetapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="uk.ac.aber.dcs.wim2.studentbudgetapplication.activities.EnterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".oldCode.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".oldCode.AccountsActivity"
            android:label="@string/title_activity_accounts" >
        </activity>
        <activity
            android:name=".oldCode.NewAccountActivity"
            android:label="@string/title_activity_new_account" >
        </activity>
        <activity
            android:name="uk.ac.aber.dcs.wim2.studentbudgetapplication.activities.TransactionActivity"
            android:label="@string/title_activity_transaction" >
        </activity>
        <activity
            android:name=".activities.IncomeActivity"
            android:label="@string/title_activity_income" >
        </activity>
        <activity
            android:name=".activities.ExpenseActivity"
            android:label="@string/title_activity_expense" >
        </activity>
        <activity
            android:name=".activities.AcademicYearActivity"
            android:label="@string/title_activity_term" >
        </activity>
        <activity
            android:name=".activities.DetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
    </application>

</manifest>
